<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="paradigma.sdkcore" value="https://pbs-devops.pkgs.visualstudio.com/_packaging/core@Release/nuget/v3/index.json" protocolVersion="3"/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />   
  </packageSources>
  <packageSourceCredentials>
    <paradigma.sdkcore>
        <add key="Username" value="user" />
        <add key="ClearTextPassword" value="selwwb6zthy3mwbuduzpo4b6pqjemkxs4cicukj6acz67fdfku7a" />
    </paradigma.sdkcore>
  </packageSourceCredentials>
</configuration>